<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.min.css">
    <title>試験官用ページ</title>
</head>
<body>
<div class="p_admin">
    <div class="p_admin__header">
        <div class="p_admin__start_button eva orange">開始</div>
    </div>
    <div class="p_admin--spacer"></div>

    <div class="p_admin__content">
        <ul class="ul">
        </ul>
    </div>
</div>
<img class="image" src="img/question/7-2.png">

<script src="javascripts/jquery-2.0.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script src="/javascripts/admin.js"></script>
</body>
</html>