@import "../variables";
.p_header{
    background-color: $main_color;
    //padding: 0 20px 0 0;
}
.p_header__logo{
    padding: 10px;
    img{
        height: 40px;
    }
}
.p_header__timer{
    color: #fff;
    font-weight: 500;
}
.p_header__timernum{
    font-size: 30px;
    font-weight: 600;
}