@import "../variables";

.p_modal-soundAttention{
    background-color: black;
    &__wrapper{
        color: white;
    }
    &__contents-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: max-content;
    }
    &__h2{
        font-size: 24px;
        font-weight: 400;
    }
    &__span{
        font-weight: 800;
    }
    &__iconWrapper{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon{
        font-size: 2rem;
    }
    &__btn-wrapper{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}