.l_header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l_content{
    padding: 20px;
}
.l_nav{
    position: fixed;
    bottom: 0;
}
.l_modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    &--hide{
        @extend .l_modal;
        display: none;
    }
}
.l_contents{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-row: 1fr;
    &__nav{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #F8F7F7;
    }
    &__main{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
.l_inlineBlock_center{
    text-align: center;
}