.mb{
    &20{
        margin-bottom: 20px;
    }
    &30{
        margin-bottom: 30px;
    }
    &40{
        margin-bottom: 40px;
    }
    &50{
        margin-bottom: 50px;
    }
    &60{
        margin-bottom: 60px;
    }
}

.mc{
    margin: 0 auto;
}